<header>
  @if (!(user$ | async)) {
  <div class="top-header">
    <app-login />
  </div>
  }
  <div class="container">
    <a routerLink="/">
      <img
        src="../../../assets/images/otaku_app_logo.png"
        alt="Logo de l'application web"
        class="logo"
      />
    </a>
    @if (isNavMenuOpen) {
    <ul class="links-container">
      <li>
        <a 
          routerLink="/animes" 
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ "components.header.links.animes" | translate }}
        </a>
      </li>
      @if (user$ | async; as user) {
      <app-sign-in-links [user]="user" />
      } @else {
      <app-sign-out-links />
      }
    </ul>
    }
    <div class="action-buttons">
      @if (isNavMenuOpen) {
      <ion-icon
        name="close"
        class="action-button close-menu-button"
        (click)="toggleNavMenuDisplay()"
      />
      } @else {
      <ion-icon
        name="menu"
        class="action-button open-menu-button"
        (click)="toggleNavMenuDisplay()"
      />
      }
    </div>
  </div>
</header>
