<div class="wrapper">
  @if ((user$ | async); as user) {
  <div class="user-section user">
    <div class="user-data">
      <a routerLink="edit" class="edit-zone">
        <ion-icon name="pencil-outline"></ion-icon>
      </a>

      @if (user.photoURL) {
      <img [src]="user.photoURL" [alt]="user.displayName + '\'s avatar'" />
      } @else {
      <div class="container-initials">
        {{ util.generateNameInitials(user.displayName!) }}
      </div>
      }

      <div class="user-infos">
        <p class="user-pseudo line-info">
          {{ user.displayName!.toUpperCase() }}
        </p>
        <div class="email-status">
          <p class="user-email line-info">{{ user.email }}</p>
          <div class="email-validation">
            @if (user.emailVerified) {
            <ion-icon class="verified" name="checkmark-done-outline"></ion-icon>
            } @else {
            <ion-icon class="unverified" name="hourglass-outline"></ion-icon>
            }
          </div>
        </div>
        <p class="sign-up-date">
          {{ "pages.account.creationDateLabel" | translate }}
          {{ util.convertTimeStampInDate(user.metadata.creationTime!) }}
        </p>
      </div>
    </div>
    <div class="break-line"></div>
    <div class="user-stats">
      <h2 class="title">{{ "pages.account.achievementsTitle" | translate }}</h2>
      <div class="cards-container">
        <div class="card user-level" [class]="_userData.level + '-grade'">
          {{ _userData.level.toUpperCase() }}
        </div>
        <div class="card user-xp">
          <p class="insight-value">{{ _userData.xp.toLocaleString() }}</p>
          <div class="insight-label">XP</div>
        </div>
        <div class="card user-quests">
          <p class="insight-value">{{ _userData.quests.toLocaleString() }}</p>
          <p class="insight-label">
            {{ "pages.account.QuestsCountLabel" | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="break-line"></div>
    <div class="user-streak">
      <h2 class="title">{{ "pages.account.chestRaceTitle" | translate }}</h2>
      <p class="hint">
        {{ "pages.account.chestRaceHint" | translate }}
      </p>
      <div class="steps">
        @for (step of STREAK_STEPS; track $index) { @if (_streakDays >= step) {
        <div class="step">
          <img
            class="fire-icon"
            src="../../../assets/images/feu.png"
            alt="Attribut feu permettant de suivre la progression"
          />
          <ion-icon
            class="finished-streak"
            name="checkmark-done-outline"
          ></ion-icon>
        </div>
        } @else {
        <div class="step">
          <img
            class="fire-icon uncompleted"
            src="../../../assets/images/feu.png"
            alt="Attribut feu permettant de suivre la progression"
          />
          <div class="streak-count">{{ step }}</div>
        </div>
        } }
        <div class="step chest">
          <img
            [class]="_streakDays < 7 ? 'uncompleted' : ''"
            class="chest-icon"
            (click)="collectTreasure()"
            [src]="
              _streakDays < 7
                ? '../../../assets/images/tresor.png'
                : '../../../assets/images/coffre-ouvert.png'
            "
            alt="Attribut feu permettant de suivre la progression"
          />
        </div>
      </div>
      <a routerLink="stats" class="button">
        {{ "pages.account.moreStatsButtonLabel" | translate }}
      </a>
    </div>
  </div>
  <div class="user-section features">
    <div class="options">
      <a routerLink="stats" class="option">
        <p class="option-label">
          {{ "pages.account.features.stats" | translate }}
        </p>

        <ion-icon class="option-icon" name="analytics-outline"></ion-icon>
      </a>
      <a routerLink="notifications" class="option">
        <p class="option-label">
          {{ "pages.account.features.notifications" | translate }}
        </p>

        <div class="icon-container">
          <ion-icon class="option-icon" name="notifications-outline"></ion-icon>
          <span class="count">
            {{ _userData.notifications.length }}
          </span>
        </div>
      </a>
      <a routerLink="settings" class="option">
        <p class="option-label">
          {{ "pages.account.features.settings" | translate }}
        </p>
        <ion-icon class="option-icon" name="settings-outline"></ion-icon>
      </a>
      <a routerLink="edit" class="option">
        <p class="option-label">
          {{ "pages.account.features.edition" | translate }}
        </p>
        <ion-icon class="option-icon" name="pencil-outline"></ion-icon>
      </a>
      <a routerLink="ranking" class="option">
        <p class="option-label">
          {{ "pages.account.features.ranking" | translate }}
        </p>
        <ion-icon class="option-icon" name="cellular-outline"></ion-icon>
      </a>
      <div (click)="this.auth.logout()" class="option">
        <p class="option-label">
          {{ "pages.account.features.logout" | translate }}
        </p>
        <ion-icon class="option-icon" name="log-out-outline"></ion-icon>
      </div>
      <div class="option">
        <p class="option-label">
          {{ "pages.account.features.delete" | translate }}
        </p>
        <ion-icon class="option-icon" name="trash-outline"></ion-icon>
      </div>
    </div>
  </div>
  } @if (_notification) {
  <app-toast [notification]="_notification" />
  }
</div>
