.container {
  .header {
    display: flex;
    gap: 20px;
    @media screen and (max-width: 500px) {
      flex-direction: column;
      .image-container {
        img {
          width: 100%;
        }
      }
    }
  }
  .details-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .row {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .meta {
        font-weight: 500;
        font-size: 1.2rem;
        color: rgb(75, 75, 75);
      }
      .data {
        line-height: 150%;
        text-align: justify;
      }
    }
    .description-data {
      text-indent: 3rem;
    }

    .genres-container {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      .no-genres-found {
        font-size: .9rem;
      }
    }
    .star-button {
      font-size: 1.5rem;
      cursor: pointer;
    }

    .anime-genre {
      display: inline-block;
      width: fit-content;
      padding: 5px 10px;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      color: #fff;
      background-color: var(--primary-color);
      transition: background-color 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      font-size: .9rem;
      &.favorite {
        background-color: green;
      }
      &.forbidden {
        background-color: crimson;
      }
    }  
  }
}