<footer>
  <div class="container">
    <div class="tributes">
      <div class="logo-showcase">
        <a target="_blank" href="https://jikan.moe/">
          <img
            src="../../../assets/images/jikan.png"
            alt="Le service que nous utilisons pour les animes."
            class="logo"
          />
          <!-- TODO: Translate the alt texts -->
        </a>
        <a href="/">
          <img
            src="../../../assets/images/otaku_app.png"
            alt="L'application web que nous vous proposons."
            class="logo"
          />
        </a>
      </div>
      <p class="text-content">
        {{ "components.footer.tributes.message" | translate }}
      </p>
    </div>
    <div class="links">
      <a target="_blank" href="https://pisoftlite.com/">
        <span> {{ "components.footer.links.visit" | translate }} </span>
        <ion-icon name="arrow-redo"></ion-icon>
      </a>
      <a href="/about">
        <span> {{ "components.footer.links.about" | translate }} </span>
        <ion-icon name="information-circle-sharp"></ion-icon>
      </a>
    </div>

    <app-language-switcher class="switcher" />

    <div class="credentials">
      <p class="version">
        {{ "components.footer.credentials.version" | translate }}
      </p>
      <p class="copyright">
        <img
          src="../../../assets/images/pisoft_logo.png"
          alt="Start-up de developpement applicatif"
        />
        <span>
          {{ "components.footer.credentials.copyrights" | translate }}
        </span>
      </p>
    </div>
  </div>
</footer>
