<footer>
  <div class="container">
    <div class="tributes">
      <div class="logo-showcase">
        <a target="_blank" href="https://jikan.moe/">
          <img
            src="../../../assets/images/jikan.png"
            alt="Le service que nous utilisons pour les animes."
            class="logo"
          />
        </a>
        <a href="/">
          <img
            src="../../../assets/images/otaku_app.png"
            alt="L'application web que nous vous proposons."
            class="logo"
          />
        </a>
      </div>
      <p class="text-content">Merci à Jikan</p>
    </div>
    <div class="links">
      <a target="_blank" href="https://pisoftlite.com/">
        <span>Site officiel de pisoftLite</span>
        <ion-icon name="arrow-redo"></ion-icon>
      </a>
      <a href="/about">
        <span>A propos du service</span>
        <ion-icon name="information-circle-sharp"></ion-icon>
      </a>
    </div>

    <app-language-switcher class="switcher" />

    <div class="credentials">
      <p class="version">Version 0.0.1</p>
      <p class="copyright">
        <img
          src="../../../assets/images/pisoft_logo.png"
          alt="Start-up de developpement applicatif"
        />
        <span>Powered by PisoftLite. © All rights reserved.</span>
      </p>
    </div>
  </div>
</footer>
