<header>
  <div class="top-header">
    <app-login />
  </div>
  <div class="container">
    <a href="/">
      <img
        src="../../../assets/images/otaku_app_logo.png"
        alt="Logo de l'application web"
        class="logo"
      />
    </a>
    @if (isNavMenuOpen) {
    <ul class="links-container">
      <li>
        <a href="/animes">
          {{ "components.header.links.animes" | translate }}
        </a>
      </li>
      <li>
        <a href="/discovery">
          {{ "components.header.links.discovery" | translate }}
        </a>
      </li>
      @if (isUserConnected) {
      <app-sign-in-links />
      } @else {
      <app-sign-out-links />
      }
    </ul>
    }
    <div class="action-buttons">
      @if (isNavMenuOpen) {
      <ion-icon
        name="close"
        class="action-button close-menu-button"
        (click)="closeNavMenu()"
      />
      } @else {
      <ion-icon
        name="menu"
        class="action-button open-menu-button"
        (click)="openNavMenu()"
      />
      }
    </div>
  </div>
</header>
