<div class="page-wrapper">
  @if (anime) {
    <div class="container">
      <div class="header">
        <div class="image-container">
          <img [src]="anime.images.jpg.large_image_url" [alt]="anime.title + '\'s cover image'">
        </div>
        <div class="details-container">
          <div class="row">
            <p class="title-meta meta">Title</p>
            <h1 class="title-data data"> {{ anime.title }} </h1>
          </div>
          <div class="genres row">
            <p class="genres-meta meta">Genres</p>
            <div class="genres-container data">
              @if ( anime.genres.length ) {
                @for (genre of anime.genres; track $index) {
                  <div 
                    [class]="'anime-genre ' + (favoriteGenres.includes(genre.name) ? 'favorite' : '') + ' ' + (forbiddenGenres.includes(genre.name) ? 'forbidden' : '') "
                  > 
                    {{ genre.name }} 
                  </div>
                }
              } @else {
                <p class="no-genres-found">Cette production n'est associé à aucun genre.</p>
              }
            </div>
          </div>
          <div class="themes row">
            <p class="themes-meta meta">Thèmes</p>
            <div class="genres-container data">
              @if ( anime.themes.length ) {
                @for (theme of anime.themes; track $index) {
                  <div class="anime-genre"> {{ theme.name }} </div>
                }
              } @else {
                <p class="no-genres-found">Cette production n'est associé à aucun thème.</p>
              }
            </div>
          </div>
          <div class="actions row">
            <p class="themes-meta meta">Actions</p>
            <ion-icon 
              class="star-button" 
              [name]="isFollowed ? 'star' : 'star-outline'" 
              style="color: #ffb800"
              (click)="toggleAnimeFollowing(animeId)"
            >
            </ion-icon>
          </div>
          <div class="description row">
            <p class="description-meta meta">Description</p>
            <div class="description-data data">
              {{ anime.synopsis }}
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>

