<div class="wrapper">
  <div class="text">
    <h1 class="title">{{ "pages.notFound.title" | translate }}</h1>
    <p class="message">
      {{ "pages.notFound.message" | translate }}
    </p>
    <a routerLink="/" class="link">
      <ion-icon name="home-outline"></ion-icon>
      <span>{{ "pages.notFound.linkLabel" | translate }}</span>
    </a>
  </div>
  <div class="image">
    <img
      src="../../../assets/images/resource-not-found.png"
      alt="{{ 'pages.notFound.imageAlt' | translate }}"
    />
  </div>
</div>
