<div class="wrapper">
  <h1 class="title">Notifications</h1>
  <div class="filters-box">
    <p class="indication">Sélectionner une catégorie</p>
    <div class="filter-options">
      @for (option of selectionsOptions; track $index) {
      <span
        class="filter-option"
        [class]="
          selectedOptions.includes(option) ? option + ' selected' : option
        "
        (click)="selectOption(option)"
      >
        {{ option.toUpperCase() }}
      </span>
      }
    </div>
  </div>

  <div class="notifications">
    @for (notificationsGroup of notificationsGroups; track $index) { @for (
    notification of notificationsGroup; track $index) {
    <div class="notification" [class]="notification.type">
      <span class="notif-title">
        <span> {{ notification.title.toUpperCase() }} </span>
        @if(notification.isUnread) {
        <ion-icon name="mail-unread-outline"></ion-icon>
        }
      </span>
      <p [ngClass]="{ acide: false }" class="notif-content">
        {{ notification.message }}
      </p>
      <div class="actions">
        @if(notification.action) {
        <a [routerLink]="notification.action">take action</a>
        } @else if (notification.isPositive) {
        <span class="appreciations good">Congrats !</span>
        } @else {
        <span class="appreciations medium">Just some more efforts!</span>
        }
      </div>
      <span class="time">
        reçu le {{ notification.date.toLocaleDateString() }} à
        {{ notification.date.toLocaleTimeString() }}
      </span>
    </div>
    }
    <!-- Set the date-line-separator -->
    @if (notificationsGroup.length) { @if ($index == 0) {
    <div class="date-line-separation">
      <span class="date"> unread </span>
    </div>
    } @else {
    <div class="date-line-separation">
      <span class="date">
        {{ notificationsGroup[0].date.toLocaleDateString() }}
      </span>
    </div>
    } } }
    <p class="no-more-notifs">No more notifications to see here !</p>
  </div>
</div>
