<div class="wrapper">
  <h1 class="title">Notifications</h1>
  <div class="filters-box">
    <p class="indication">Sélectionner une catégorie</p>
    <div class="filter-options">
      @for (option of selectionsOptions; track $index) {
      <span
        class="filter-option"
        [class]="
          selectedOptions.includes(option) ? option + ' selected' : option
        "
        (click)="selectOption(option)"
      >
        {{ option.toUpperCase() }}
      </span>
      }
    </div>
  </div>

  <div class="notifications">
    @for ( notification of notifications; track $index) {
    <div class="notification" [class]="notification.type">
      <span class="notif-title">
        <span> {{ notification.title.toUpperCase() }} </span>
        @if(notification.isUnread) {
        <ion-icon name="mail-unread-outline"></ion-icon>
        }
      </span>
      <p class="notif-content">{{ notification.message }}</p>
      <div class="actions">
        @if(notification.action) {
        <a [href]="notification.action">take action</a>
        } @else if (notification.isPositive) {
        <span class="appreciations good">Congrats !</span>
        } @else {
        <span class="appreciations medium">Just some more efforts!</span>
        }
      </div>
    </div>
    }
  </div>
</div>
