<div class="wrapper">
  <h1 class="title">Notifications</h1>
  <div class="filters-box">
    <p class="indication">Effectuer un tri sur les notifications</p>
    <div class="filter-options">
      <span class="filter-option">ACTION</span>
      <span class="filter-option">RANKING</span>
      <span class="filter-option selected">INFO</span>
    </div>
  </div>
  <div class="notifications">
    <div class="notification">
      <span class="notif-title">
        <span>ACTION</span> <ion-icon name="mail-unread-outline"></ion-icon>
      </span>
      <p class="notif-content">You've just created your account !</p>
      <div class="actions">
        <a href="/">take action</a>
      </div>
    </div>
    <div class="notification">
      <span class="notif-title">
        <span>RANKING</span> <ion-icon name="mail-unread-outline"></ion-icon>
      </span>
      <p class="notif-content">You've just created your account !</p>
      <div class="actions">
        <span class="appreciations">Congrats !</span>
      </div>
    </div>
    <div class="notification">
      <span class="notif-title">
        <span>RANKING</span>
      </span>
      <p class="notif-content">You've just created your account !</p>
      <div class="actions">
        <span class="appreciations medium">Just some more efforts!</span>
      </div>
    </div>
    <div class="notification">
      <span class="notif-title">
        <span>INFO</span>
      </span>
      <p class="notif-content">
        You've reached lately the milestones of 10.000 Xp
      </p>
    </div>
  </div>
</div>
