<div class="wrapper">
    <div class="backward-group" routerLink="/account">
        <ion-icon name="arrow-back-outline"></ion-icon>
        {{ "others.navigation.backwardLabel" | translate }}
      </div>
    <h1> {{ "pages.settings.title" | translate }} </h1>
    <div class="main-section">
      @if (_user$ | async; as user) {
        <div class="user-section">
          <app-avatar />
          <div class="user-data">
            <div class="user-name">{{user.displayName}}</div>
            <div class="creation-date">{{ util.convertTimeStampInDate(user.metadata.creationTime!) }}</div>
            <div class="email"> {{ user.email }} </div>
            <div [class]="'email-status ' +  (user.emailVerified ? 'verified' : '')">
              {{ user.emailVerified ? _verifiedEmailStatus : _pendingEmailStatus }}
            </div>
          </div>
        </div>
      
        <div class="features-section">
          <div class="feature">
            <ion-icon name="person-outline"></ion-icon>
            <span routerLink="/account/edit">{{ "pages.settings.editUserProfil" | translate }}</span>
          </div>
          <div [class]="_genresManagementBox ? 'feature active' : 'feature'" (click)="toggleGenresManagementBox()">
            <ion-icon name="apps-outline"></ion-icon>
            <span>{{ "pages.settings.forbidGenres" | translate }}</span>
          </div>
          @if(_genresManagementBox) {
            <div class="explicit-content-box">
              <p class="description">{{ "pages.settings.forbidGenresHint" | translate }}</p>
              <div class="animes-genres">
                @for (genre of _safeGenres; track $index) {
                  <div class="anime-genre" (click)="updateGenres(genre, 'forbid')">
                    {{ genre }} <ion-icon name="checkmark-circle"></ion-icon>
                  </div>
                }
                @for (genre of _forbiddenGenres; track $index) {
                  <div class="anime-genre forbidden" (click)="updateGenres(genre, 'authorize')">
                    {{ genre }} <ion-icon name="close-circle"></ion-icon>
                  </div>
                }
              </div>
              <div class="save-zone">
                @if(_isWaitingSave) {
                  <div class="save-button" (click)="saveChanges()">{{ "pages.settings.saveGenres" | translate }}</div>
                } @else {
                  <p class="saved-status">{{ "pages.settings.up-to-dateData" | translate }}</p>
                }
              </div>
            </div>
          }

          @if (!user.emailVerified) {
            <div class="feature" (click)="sendVerificationEmail()">
              <ion-icon name="mail-outline"></ion-icon>
              <span>{{ "pages.settings.verifyEmail" | translate }}</span>
            </div>
          }
          <div 
            [class]="'feature ' + (!user.emailVerified ? 'unavailable' : '')"
            (click)="modifyPasswordByEmail()"
          >
            <ion-icon name="lock-closed-outline"></ion-icon>
            <span>{{ "pages.settings.modifyPassword" | translate }}</span>
          </div>
          @if (!user.emailVerified) {
            <div class="hint">
              <ion-icon name="alert-circle-outline"></ion-icon>
              <span>{{ "pages.settings.modifyPasswordHint" | translate }}</span> 
            </div>
          }
          <div class="feature" (click)="showDeleteAccountModal()">
            <ion-icon name="trash-bin-outline"></ion-icon>
            <span>{{ "pages.settings.deleteAccount" | translate }}</span>
          </div>
        </div>
      }
    </div>
    <app-toast [notification]="_notification" />
    <app-modal
      [modal]="_modal"
      [show]="_showModal"
    />
</div>