<div class="wrapper">
    <div class="backward-group" routerLink="/account">
        <ion-icon name="arrow-back-outline"></ion-icon>
        {{ "others.navigation.backwardLabel" | translate }}
      </div>
    <h1>Paramètres</h1>
    <div class="main-section">
      @if (_user$ | async; as user) {
        <div class="user-section">
          @if (user.photoURL) {
          <img [src]="user.photoURL" [alt]="user.displayName + '\'s avatar'" />
          } @else {
          <div class="container-initials">
            {{ util.generateNameInitials(user.displayName!) }}
          </div>
          }
          <div class="user-data">
            <div class="user-name">{{user.displayName}}</div>
            <div class="creation-date">3 septembre 2024</div>
            <div [class]="'email-status ' +  (user.emailVerified ? 'verified' : '')">
              {{ user.emailVerified ? 'Email vérifié' : 'Email en attente de vérification' }}
            </div>
            <div class="email"> {{ user.email }} </div>
          </div>
        </div>
      
        <div class="features-section">
          <div class="feature">
            <ion-icon name="person-outline"></ion-icon>
            <span routerLink="/account/edit">Editer mon profil utilisateur</span>
          </div>
          <div class="feature" (click)="toggleGenresManagementBox()">
            <ion-icon name="apps-outline"></ion-icon>
            <span>Interdire des genres</span>
          </div>
          @if(_genresManagementBox) {
            <div class="explicit-content-box">
              <p class="description">Cochez les genres que vous souhaitez conserver.</p>
              <div class="animes-genres">
                @for (genre of _safeGenres; track $index) {
                  <div class="anime-genre" (click)="updateGenres(genre, 'forbid')">
                    {{ genre }} <ion-icon name="checkmark-circle"></ion-icon>
                  </div>
                }
                @for (genre of _forbiddenGenres; track $index) {
                  <div class="anime-genre forbidden" (click)="updateGenres(genre, 'authorize')">
                    {{ genre }} <ion-icon name="close-circle"></ion-icon>
                  </div>
                }
              </div>
              <div class="save-zone">
                @if(_isWaitingSave) {
                  <div class="save-button" (click)="saveChanges()">ENREGISTRER</div>
                } @else {
                  <p class="saved-status">Données à jour.</p>
                }
              </div>
            </div>
          }

          @if (!user.emailVerified) {
            <div class="feature">
              <ion-icon name="mail-outline"></ion-icon>
              <span>Vérifier mon adresse e-mail</span>
            </div>
          }
          <div [class]="'feature ' + (!user.emailVerified ? 'unavailable' : '')">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <span>Modifier mon mot de passe</span>
          </div>
          @if (!user.emailVerified) {
            <div class="hint">
              <ion-icon name="alert-circle-outline"></ion-icon>
              <span>Vous devez vérifier votre adresse e-mail afin de pouvoir éditer votre mot de passe !</span> 
            </div>
          }
          <div class="feature">
            <ion-icon name="trash-bin-outline"></ion-icon>
            <span>Supprimer mon compte</span>
          </div>
        </div>
      }
    </div>
</div>

<!-- TODO: Réaliser une modale indiquant que certaines données n'ont pas été sauvegardées -->
<!-- TODO: Réaliser une modale de validation de certaines actions -->