@if (_editForm) {
<form [formGroup]="_editForm" (submit)="onSaveData()">
  <label for="username">
    {{ "pages.edition.usernameLabel" | translate }}
  </label>
  <input id="username" type="text" formControlName="username" />
  <label for="animeGenres">
    {{ "pages.edition.genreLabel" | translate }}
  </label>
  <span>
    {{ "pages.edition.favoriteLabel" | translate }}
  </span>
  <div class="animes-genres">
    @for (genre of _newFavoriteGenres; track $index) {
    <div class="anime-genre favorite" (click)="removeAnimeGenre(genre)">
      {{ genre }} <ion-icon name="arrow-down-circle-sharp"></ion-icon>
    </div>
    }
  </div>

  <span> {{ "pages.edition.suggestedLabel" | translate }} </span>
  <div class="animes-genres">
    @for (genre of _genreSuggestions; track $index) {
    <div class="anime-genre" (click)="addAnimeGenre(genre)">
      {{ genre }} <ion-icon name="arrow-up-circle-sharp"></ion-icon>
    </div>
    }
  </div>

  <div class="actions">
    <a onclick="" routerLink="/account">
      {{ "pages.edition.cancelLabel" | translate }}
    </a>
    <button
      [disabled]="
        _editForm.invalid ||
        (_editForm.value.username.trim() === _userData.playerName &&
          !_isGenresUpdated)
      "
      type="submit"
    >
      @if (_isSavingData) {
      <div class="spinner"></div>
      } @else {
      {{ "pages.edition.saveLabel" | translate }}
      }
    </button>
  </div>
  <app-toast [notification]="_notification" />
</form>
} @else {
<div class="spinner"></div>
}
