@if ((user$ | async); as user) {
<div class="avatars-box">
  <div class="avatar-box">
    @if (user.photoURL) {
    <img [src]="user.photoURL" alt="old profile pic" />
    } @else {
    <div class="container-initials">
      {{ util.generateNameInitials(user.displayName!) }}
    </div>
    }
    <div class="avatar-option" (click)="toggleAvatarOptions()">
      <ion-icon name="camera-outline"></ion-icon>
    </div>
    @if (_isAvatarOptionsDisplayed) {
    <div class="avatar-options">
      <div class="option">
        <label for="avatar">
          <ion-icon name="folder-outline"></ion-icon>
          <span> {{ "pages.edition.selectImage" | translate }} </span>
        </label>
        <input
          type="file"
          id="avatar"
          (change)="onAvatarChange()"
          (cancel)="toggleAvatarOptions()"
          hidden
          accept="image/*"
        />
      </div>
      @if (!_newAvatarFile && user.photoURL) {
      <div class="option" (click)="deleteUserAvatar()">
        <ion-icon name="trash-bin-outline"></ion-icon>
        <span> {{ "pages.edition.deleteImage" | translate }} </span>
      </div>
      }
    </div>
    }
  </div>

  @if (_newAvatarFile) {
  <ion-icon class="next-arrow" name="chevron-forward-outline"></ion-icon>

  <div class="avatar-box">
    <img [src]="generateAvatarUrl(_newAvatarFile)" alt="new profile pic" />
    @if (_isAvatarUploading) {
    <div class="avatar-option center">
      <div class="spinner"></div>
    </div>
    } @else {
    <div class="avatar-option cancel" (click)="dismissNewAvatar()">
      <ion-icon name="close-outline"></ion-icon>
    </div>
    <div class="avatar-option left validate" (click)="validateNewAvatar()">
      <ion-icon name="checkmark-outline"></ion-icon>
    </div>
    }
  </div>
  }
</div>
}
