.wrapper {
  max-width: 1200px;
  margin: 100px auto;
  display: flex;
  .user-section {
    align-items: center;
    flex: 1;
    padding: 10px 20px;
    .title {
      text-align: center;
      font-size: 1.6rem;
    }
    .break-line {
      border-bottom: 1px solid gray;
      width: 50%;
      margin: 30px auto;
    }
    .user-data {
      position: relative;
      display: flex;
      gap: 20px;
      align-items: center;
      padding: 20px 0;
      .edit-zone {
        position: absolute;
        cursor: pointer;
        top: 20px;
        right: 20px;
        background-color: var(--box-container-color);
        border: 1px solid #aaa;
        width: 40px;
        border-radius: 50%;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        ion-icon {
          color: #fff;
          font-size: 1.5rem;
        }
      }
      .user-infos {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .line-info {
          word-wrap: break-word;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          line-clamp: 1;
          -webkit-line-clamp: 1;
        }
        .user-pseudo {
          font-size: 1.5rem;
          font-weight: 500;
        }
        .email-status {
          display: flex;
          align-items: center;
          gap: 20px;
          .user-email {
            font-style: italic;
          }
          .email-validation {
            font-size: 1.5rem;
            .verified {
              color: green;
            }
            .unverified {
              color: rgb(195, 128, 3);
            }
          }
        }
      }
    }
    .user-stats {
      .cards-container {
        display: flex;
        justify-content: space-around;
        margin: 20px 0;
        .card {
          border: 1px solid black;
          max-width: 100px;
          aspect-ratio: 1/1;
          flex-grow: 1;
          border-radius: 5px;
          box-shadow: 3px 2px 7px gray;
          display: flex;
          align-items: center;
          justify-content: center;
          &.user-level {
            font-size: 5rem;
            font-family: Hylia;
            // Using grade colors defined in general styles
          }
          &.user-xp {
            flex-direction: column;
          }
          &.user-credits {
            flex-direction: column;
          }
          .insight-label {
            border-top: 1px solid gray;
            font-size: 1.5rem;
            margin-top: 10px;
            padding-top: 5px;
          }
          .insight-value {
            font-weight: 600;
            font-size: 1.1rem;
          }
        }
      }
    }
    .user-streak {
      .hint {
        line-height: 150%;
        margin: 10px auto;
        text-align: center;
      }
      .steps {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 20px auto;
        width: fit-content;
        .step {
          display: flex;
          flex-direction: column;
          align-items: center;
          &.chest {
            margin-inline-start: 10px;
          }
          .fire-icon {
            width: 2rem;
            &.uncompleted {
              filter: grayscale(1);
            }
          }
          .streak-count {
            text-align: center;
            font-size: 1rem;
          }
          .finished-streak {
            font-size: 1rem;
            color: green;
          }
          .chest-icon {
            width: 2.5rem;
            cursor: pointer;
            &.uncompleted {
              filter: grayscale(1);
              cursor: default;
            }
          }
        }
      }
      .button {
        width: fit-content;
        padding: 10px 20px;
        margin: 20px auto;
      }
    }
  }
  .features {
    display: flex;

    .options {
      margin: 80px auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      .option {
        border-left: 5px solid #fff;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        padding: 0 10px;
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        .icon-container {
          position: relative;
          .count {
            position: absolute;
            top: -25%;
            right: -25%;
            width: 20px;
            font-size: 15px;
            text-align: center;
            font-weight: bold;
            color: var(--primary-color);
            aspect-ratio: 1/1;
            border-radius: 50%;
            background: var(--box-container-color);
          }
        }
        .option-icon {
          font-size: 1.5rem;
        }
        &:hover {
          border-left-color: var(--secondary-color);
          .option-icon {
            transform: scale(1.5);
            color: var(--secondary-color);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    flex-direction: column;
    padding: 20px 40px;
    .user-section {
      .user-data {
        .edit-zone {
          top: 20px;
          right: 0px;
        }
      }
    }
    .features {
      margin: 0 10px;
      border: 1px solid gray;
      border-radius: 5px;
      box-shadow: 3px 3px 6px gray;
    }
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    padding: 0;
    .user-section {
      .title {
        font-weight: 500;
        font-size: 1.5rem;
      }
      .user-data {
        flex-direction: column;
        .user-infos {
          align-items: center;
          .user-pseudo {
            font-size: 1.2rem;
          }
          .user-email {
            font-size: 0.9rem;
          }
          .sign-up-date {
            font-size: 0.9rem;
            text-align: center;
          }
        }
      }
      .user-stats {
        .cards-container {
          .card {
            max-width: 30%;
            &.user-level {
              font-size: 4rem;
            }
            .insight-label {
              margin-top: 5px;
              font-size: 1rem;
            }
          }
        }
      }
      .user-streak {
        .hint {
          font-size: 0.9rem;
        }
        .steps {
          gap: 5px;
          .step {
            .fire-icon {
              width: 1.8rem;
            }
            .chest-icon {
              width: 2rem;
              margin-inline-start: 0px;
            }
            .streak-count {
              font-size: 0.9rem;
            }
            .finished-streak {
              font-size: 0.9rem;
            }
          }
        }
        .button {
          padding: 10px 15px;
        }
      }
    }
    .features {
      .options {
        .option {
          .option-label {
            font-size: 1rem;
          }
          .option-icon {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
