.dropDown {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #f2f2f2, $alpha: 0.4);
    z-index: 2;
    .wrapper {
        position: relative;
        padding: 30px;
        border-radius: 5px;
        width: 90%;
        max-width: 600px;
        background-color: #fff;
        border: 2px solid gray;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .dismiss-button {
            position: absolute;
            top: 20px;
            right: 30px;
            background-color: transparent;
            border: none;
            font-size: 1.5rem;
            cursor: pointer;
            color: gray;
            transition: transform 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            &:hover {
                transform: scale(1.5);
                color: var(--secondary-color);
            }
        }
        h1 {
            color: var(--primary-color);
            font-size: 2rem;
            font-weight: 600;
            line-height: 150%;
        }
        .message {
            text-indent: 2rem;
            line-height: 150%;
        }
        .actions {
            width: 100%;
            display: flex;
            gap: 20px;
            justify-content: flex-end;
            button {
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                background-color: var(--primary-color);
                border: 1px solid var(--primary-color);
                color: #fff;
                font-size: 1rem;
                cursor: pointer;
                transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                &:hover {
                    background-color: var(--primary-accent-color);
                }
                &.primary-button {
                    &:hover {
                        border-color: var(--primary-accent-color);
                    }
                }
                &.secondary-button {
                    background-color: #fff;
                    color: var(--primary-color);
                    &:hover {
                        background-color: var(--primary-color);
                        color: #fff;
                    }
                }
            }
        }
    }
    // TODO: Design a modal that pops up or slides in.
}

@media screen and (max-width: 500px) {
    .dropDown {
        .wrapper {
            padding: 20px;
            border-width: 1px;
            .dismiss-button {
                right: 20px;
            }
            h1 {
                font-size: 1.7rem;
            }
            .actions {
                gap: 10px;
                button {
                    padding: 10px 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .dropDown {
        .wrapper {
            padding: 20px;
            .dismiss-button {
                right: 20px;
            }
            .actions {
                flex-direction: column;
                gap: 10px;
                button {
                    padding: 7.5px;
                }
            }
        }
    }
}