<div class="wrapper">
  <h1 class="title">{{ "pages.emailVerification.title" | translate }}</h1>
  <div class="body">
    <strong>
      {{ "pages.emailVerification.content.subTitle" | translate }}
    </strong>
    @if ((user$ | async); as user ) {
    <p class="message-content">
      {{ user.displayName }},
      {{ "pages.emailVerification.content.message" | translate }}
    </p>
    <a
      class="button open-mailbox"
      href="https://mail.google.com/mail/u/0/#inbox"
      target="_blank"
    >
      <div>
        <ion-icon class="icon" name="mail-unread-outline"></ion-icon>
        <p>{{ "pages.emailVerification.content.mailbox" | translate }}</p>
      </div>
      <em>( {{ user.email }} )</em>
    </a>
    <div class="alternative">
      <p>{{ "pages.emailVerification.content.noEmail" | translate }}</p>
      <span (click)="resendValidationEmail(user)">
        {{ "pages.emailVerification.content.resendEmail" | translate }}
      </span>
    </div>
    <div class="actions">
      <button (click)="checkVerifiedEmail()" class="button">
        {{ "pages.emailVerification.content.completion" | translate }}
      </button>
      <button routerLink="/account" class="button secondary">
        {{ "pages.emailVerification.content.reminder" | translate }}
      </button>
    </div>
    }
  </div>
  @if (notification) {
  <app-toast [notification]="notification" />
  }
</div>
