<div class="card-container" aria-busy="true">
  <div class="image-container">
    <div class="skeleton image-container"></div>
  </div>

  <div class="content">
    <!-- Titre -->
    <p class="skeleton" style="width: 90%; height: 18px;"></p>
    <p class="skeleton" style="width: 80%; height: 18px;"></p>

    <!-- Section "Episodes / Durée / Score" -->
    <div class="additionnal-container">
      <div class="additionnal-section">
        <div class="skeleton" style="width: 50%; height: 14px;"></div>
        <div class="skeleton" style="width: 30px; height: 14px; margin-top: 4px;"></div>
      </div>
      <div class="additionnal-section">
        <div class="skeleton" style="width: 40px; height: 14px;"></div>
        <div class="skeleton" style="width: 30px; height: 14px; margin-top: 4px;"></div>
      </div>
      <div class="additionnal-section">
        <div class="skeleton" style="width: 40px; height: 14px;"></div>
        <div class="skeleton" style="width: 30px; height: 14px; margin-top: 4px;"></div>
      </div>
    </div>

    <!-- Genres -->
    <div class="genres-container">
      <p class="skeleton" style="width: 50%; height: 14px; margin-bottom: 8px;"></p>
      <div style="display: flex; flex-wrap: wrap; gap: 6px;">
        @for (item of [1,2,3,4,5,6]; track $index) {
          <div class="skeleton" style="width: 60px; height: 20px; border-radius: 10px;"></div>
        }
      </div>
    </div>
  </div>
</div>
