@keyframes hourglass {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}

.wrapper {
  margin: 200px auto;
  max-width: 1200px;
  .break-line {
    border: 1px solid gray;
    width: 50%;
    margin: 40px auto;
  }
  .unfound-message {
    font-size: 1.3rem;
    text-align: center;
  }
  .search {
    margin: 30px auto;
    max-width: 70%;
    border-radius: 5px;
    height: 60px;
    display: flex;
    overflow: hidden;
    box-shadow: 3px 3px 4px grey;
    color: gray;
    .icon-box {
      width: 60px;
      aspect-ratio: 1/1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      &.remove-search {
        ion-icon {
          cursor: pointer;
        }
      }
    }
    form {
      flex-grow: 3;
      input {
        border: none;
        outline: none;
        height: 100%;
        width: 100%;
        color: #111;
        padding: 0 5px;
      }
    }
  }
  .ranking {
    position: relative;
    border-radius: 5px;
    box-shadow: 3px 3px 6px lightgray;
    height: 60px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 10px 40px;
    align-items: center;
    font-size: 1.2rem;
    &.for-you {
      margin: 20px auto;
      max-width: 80%;
      height: 80px;
    }
    border-left-width: 15px;
    border-left-color: transparent;
    border-left-style: solid;
    &.top-three {
      border-left-color: var(--primary-color);
    }
    &.top-ten {
      border-left-color: skyblue;
    }
    &.top-fifty {
      border-left-color: lightgrey;
    }
    .position {
      font-size: 2.5rem;
      font-family: var(--special-text-font);
      font-weight: 500;
    }
    .player-name {
      flex-grow: 3;
      max-width: 50%;
      word-wrap: break-word;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      line-clamp: 1;
      -webkit-line-clamp: 1;
    }
    .experience {
      font-size: 1.5rem;
      font-weight: 500;
    }
    .grade {
      font-size: 2rem;
      font-weight: 500;
      // TODO: Define grade color in the general style file
    }
    .trend {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(30%, -30%);
      background: #fff;
      width: 30px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      &.up ion-icon {
        color: green;
      }
      &.down ion-icon {
        color: #ef1f1f;
      }
      &.steady ion-icon {
        color: orange;
      }
    }
  }
  .title-zone {
    margin: 40px auto;
    text-align: center;
    .title {
      font-family: Hylia;
      font-size: 3rem;
      color: var(--primary-color);
      letter-spacing: 5px;
      word-spacing: 15px;
      line-height: 150%;
      text-transform: uppercase;
    }
    .general-info {
      margin: 20px auto;
    }
    .hint {
      font-size: 1.1rem;
      ion-icon {
        font-size: 2rem;
        color: var(--secondary-color);
        margin: 10px auto;
        animation: 1s linear infinite hourglass;
      }
    }
  }

  .rankings {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    margin: 100px auto;
    .unfound-message {
      font-size: 1.2rem;
    }
    .ranking {
      padding: 0 20px;
      gap: 10px;
      border-left-width: 10px;
      &.for-you {
        height: 70px;
      }
      .position {
        font-size: 2rem;
      }
      .player-name {
        font-size: 1rem;
        max-width: 50%;
      }
      .experience {
        font-size: 1.2rem;
      }
      .grade {
        font-size: 1.5rem;
      }
    }
    .title {
      font-size: 2.5rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    .backward-group {
      font-size: 0.9rem;
    }
    .unfound-message {
      font-size: 1rem;
    }
    .ranking {
      height: 50px;
      border-left-width: 5px;
      padding: 0 10px;
      &.for-you {
        max-width: 90%;
        height: 60px;
      }
      .position {
        font-size: 1.5rem;
      }
      .experience {
        font-size: 1.1rem;
      }
      .grade {
        font-size: 1.3rem;
      }
      .trend {
        width: 20px;
      }
    }
    .search {
      max-width: 80%;
      height: 50px;
      .icon-box {
        width: 50px;
      }
    }
    .title {
      font-size: 2rem;
    }
    .rankings {
      max-width: 90%;
    }
  }
}
