<div class="wrapper">
  <h1 class="title">Finaliser votre inscription</h1>
  <div class="body">
    <strong>Un email vient de vous être envoyé !</strong>
    <p class="message-content">
      (Gilles Pavel), Pour finaliser votre inscription, rendez-vous dans votre
      boîte mail pour activer votre compte.
    </p>
    <a
      class="button open-inbox"
      href="https://mail.google.com/mail/u/0/#inbox"
      target="_blank"
    >
      <div>
        <ion-icon class="icon" name="mail-unread-outline"></ion-icon>
        <p>Ouvrir ma boîte mail</p>
      </div>
      <em>(nanmegningassam&#64;gmail.com)</em>
    </a>
    <div class="alternative">
      <p>Pas d'e-mail reçu dans votre boîte de reception ou vos spams ?</p>
      <span>Renvoyer l'e-mail</span>
    </div>
    <div class="actions">
      <button class="button">Compte Activé</button>
      <button class="button secondary">Me rappeler plus tard</button>
    </div>
  </div>
</div>

<!-- TODO: Skippez cette page immédiatement dès que la verification du compte est passée. -->
