.wrapper {
  position: fixed;
  bottom: 40px;
  left: 40px;
  box-shadow: 3px 5px 6px gray;
  max-width: min(600px, 90%);
  width: fit-content;
  display: flex;
  gap: 10px;
  align-items: center;
  min-width: 500px;
  overflow: hidden;
  background: #fff;
  z-index: 2;
  // Linked to toast icon dimensions
  border-radius: 32.5px 10px 10px 0;
  .toast-icon {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: green;
    border-radius: 50% 50% 50% 0;
    &.success {
      background: #4caf50;
    }
    &.fail {
      background: #f44336;
    }
    &.warning {
      background: #ffc107;
    }
    &.info {
      background: #2196f3;
    }
    ion-icon {
      padding: 15px;
      font-size: 30px;
      color: #fff;
    }
  }

  .toast-content {
    flex: 1;
    margin: 0 0 0 5px;
    max-width: calc(80% - 10px);
    display: flex;
    flex-direction: column;
    align-items: start;
    .title {
      word-wrap: break-word;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      line-clamp: 1;
      -webkit-line-clamp: 1;
      margin-bottom: 5px;
    }
    .message {
      font-size: 0.8rem;
      word-wrap: break-word;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      line-clamp: 1;
      -webkit-line-clamp: 1;
      line-height: 150%;
    }
  }
  .toast-close {
    padding: 10px;
    ion-icon {
      padding: 5px;
      font-size: 20px;
      transition: 0.42s all cubic-bezier(0.075, 0.82, 0.165, 1);
      cursor: pointer;
      border-radius: 50%;
      &:hover {
        box-shadow: 1px 3px 5px gray;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    min-width: 400px;
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    min-width: 0;
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
    gap: 5px;
    // Linked to toast icon dimensions
    border-radius: 27.5px 10px 10px 0;
    .toast-icon {
      ion-icon {
        font-size: 25px;
      }
    }
    .toast-content {
      max-width: calc(100% - 20px);
      margin: 0;
      .title {
        font-size: 1rem;
      }
    }
    .toast-close {
      padding: 5px;
      ion-icon {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .wrapper {
    padding: 5px 10px;
    border-radius: 5px;
    justify-content: space-between;
    gap: 5px;
    .toast-icon {
      display: none;
    }
    .toast-content {
      .title {
        font-size: 1.1rem;
        font-weight: 600;
        &.success {
          color: #4caf50;
        }
        &.fail {
          color: #f44336;
        }
        &.warning {
          color: #ffc107;
        }
        &.info {
          color: #2196f3;
        }
      }
      .message {
        line-clamp: 2;
        -webkit-line-clamp: 2;
      }
    }
    .toast-close {
      padding: 2px;
      ion-icon {
        padding: 2px;
      }
    }
  }
}
