<form [formGroup]="_loginForm" [className]="_isLoginErrors ? 'form-error' : ''">
  <span class="divider inputs">
    <input
      type="email"
      formControlName="email"
      id="email"
      [email]="true"
      placeholder="{{ 'components.login.emailField' | translate }}"
    />
    <input
      type="password"
      formControlName="password"
      id="password"
      placeholder="{{ 'components.login.passwordField' | translate }}"
    />
  </span>

  <span class="divider validation">
    <button
      (click)="onLogin()"
      type="submit"
      class="button login-button"
      [disabled]="_loginForm.invalid"
    >
      @if (_isAuthLoading) {
      <div class="spinner"></div>
      } @else {
      <ion-icon name="log-in-outline"></ion-icon>
      {{ "components.login.login" | translate }}
      }
    </button>

    <button
      class="button"
      [disabled]="!auth.googleProvider"
      (click)="this.auth.loginWithGoogle()"
    >
      <ion-icon name="logo-google"></ion-icon>
      {{ "components.login.googleLogin" | translate }}
    </button>
  </span>
</form>
