<div class="wrapper">
  <h2>Créer-vous un compte</h2>
  <form [formGroup]="_signinForm">
    <div class="input-group">
      <input
        type="email"
        id="signin-email"
        formControlName="signinEmail"
        [className]="_signinForm.value.signinEmail ? 'filled' : ''"
        required
      />
      <label for="signin-email">Entrez votre adresse e-mail</label>
    </div>
    <div class="input-group">
      <input
        type="password"
        id="signin-password"
        autocomplete="new-password"
        formControlName="signinPassword"
        [className]="_signinForm.value.signinPassword ? 'filled' : ''"
        required
      />
      <label for="signin-password">Entrez votre mot de passe</label>
    </div>
    <div class="input-group">
      <input
        type="password"
        id="signin-password-confirm"
        autocomplete="new-password"
        formControlName="signinPasswordConfirm"
        [className]="_signinForm.value.signinPasswordConfirm ? 'filled' : ''"
        required
      />
      <label for="signin-password-confirm">Confirmez votre mot de passe</label>
    </div>
    <div class="general-conditions">
      <input
        type="checkbox"
        id="general-conditions"
        formControlName="generalConditions"
      />
      <label for="general-conditions"
        >J'ai lu et j'accepte les conditions générales d'utilisations</label
      >
    </div>
    <button
      (click)="onSignin()"
      [disabled]="_signinForm.invalid"
      type="submit"
      class="button signin-button"
    >
      Create an account
    </button>
  </form>
</div>
