<div class="wrapper">
  <h2>{{ "pages.signin.title" | translate }}</h2>
  <form [formGroup]="_signinForm">
    <div class="input-group">
      <input
        type="email"
        id="signin-email"
        formControlName="signinEmail"
        [className]="_signinForm.value.signinEmail ? 'filled' : ''"
        required
      />
      <label for="signin-email">
        {{ "pages.signin.signinEmailLabel" | translate }}
      </label>
    </div>
    <div class="input-group">
      <input
        type="text"
        id="signin-nickname"
        formControlName="signinNickName"
        [className]="_signinForm.value.signinNickName ? 'filled' : ''"
        required
      />
      <label for="signin-nickname">
        {{ "pages.signin.signinNickNameLabel" | translate }}
      </label>
    </div>
    <div class="input-group">
      <input
        [type]="_showPassword ? 'text' : 'password'"
        id="signin-password"
        autocomplete="new-password"
        formControlName="signinPassword"
        [className]="_signinForm.value.signinPassword ? 'filled' : ''"
        required
      />
      <label for="signin-password">
        {{ "pages.signin.signinPasswordLabel" | translate }} (min 8 chars)
      </label>
      <ion-icon
        (click)="toggleShowPassword()"
        [name]="_showPassword ? 'eye-outline' : 'eye-off-outline'"
      />
    </div>
    <!-- TODO: Make it a component -->
    @if(_signinForm.value.signinPassword) {
    <div class="password-strength">
      <p class="password-strength-label">
        {{ PASSWORD_LEVELS[_passwordLevel] }}
      </p>
      <div class="input-group password-indicator">
        @for (level of PASSWORD_LEVELS; track $index) { @if ($index <=
        _passwordLevel) {
        <div
          [class]="'password-level ' + PASSWORD_LEVELS[_passwordLevel]"
        ></div>
        } @else {
        <div class="password-level"></div>
        } }
      </div>
    </div>
    }

    <div class="input-group">
      <input
        [type]="_showPasswordConfirm ? 'text' : 'password'"
        id="signin-password-confirm"
        autocomplete="new-password"
        formControlName="signinPasswordConfirm"
        [className]="_signinForm.value.signinPasswordConfirm ? 'filled' : ''"
        required
      />
      <label for="signin-password-confirm">
        {{ "pages.signin.confirmPasswordLabel" | translate }}
      </label>
      <ion-icon
        (click)="toggleShowPasswordConfirm()"
        [name]="_showPasswordConfirm ? 'eye-outline' : 'eye-off-outline'"
      />
    </div>
    <div class="general-conditions">
      <input
        type="checkbox"
        id="general-conditions"
        formControlName="generalConditions"
      />
      <label for="general-conditions">
        {{ "pages.signin.generalConditions.first" | translate }}
        <a href="" target="_blank">
          {{ "pages.signin.generalConditions.last" | translate }}
        </a>
      </label>
    </div>
    <button
      (click)="onSignin()"
      [disabled]="_signinForm.invalid"
      type="submit"
      class="button signin-button"
    >
      @if (_isAuthLoading) {
      <div class="spinner"></div>
      } @else {
      {{ "pages.signin.createAccount" | translate }}
      }
    </button>
  </form>
  <div class="separator">
    <hr class="line" />
    <span class="text"> {{ "pages.signin.separatorText" | translate }} </span>
    <hr class="line" />
  </div>
  <span class="google-login" (click)="this.auth.loginWithGoogle()">
    {{ "pages.signin.googleLogin" | translate }}
  </span>
  <app-toast [notification]="_notification" />
</div>
