<div class="wrapper">
  <div class="backward-group" routerLink="/account">
    <ion-icon name="arrow-back-outline"></ion-icon>
    {{ "others.navigation.backwardLabel" | translate }}
  </div>
  @if (_userData()) {
  <a routerLink="/account" class="ranking for-you">
    <span class="position"> {{ _userData().position || 0 }} </span>
    <span class="player-name">Me</span>
    <span class="experience">{{ _userData().xp.toLocaleString() }} Xp</span>
    <span class="grade" [class]="_userData().level + '-grade'">
      {{ _userData().level.toUpperCase() }}
    </span>
  </a>
  @if(!_userData().position) {
  <p class="unfound-message">
    {{ "pages.ranking.noRanking" | translate }}
  </p>
  } }
  <p style="text-align: center; margin-top: 15px; font-style: italic">
    {{ "pages.ranking.rankingHint" | translate }}
  </p>

  <div class="break-line"></div>
  <div class="search">
    <div class="icon-box">
      <ion-icon name="search-outline"></ion-icon>
    </div>
    <form [formGroup]="this._searchForm">
      <input
        type="text"
        placeholder="Search players ..."
        formControlName="searchValue"
        id="searchValue"
      />
    </form>

    @if (_searchForm.value.searchValue) {
    <div class="icon-box remove-search">
      <ion-icon name="close-circle" (click)="emptySearchField()" class="" />
    </div>
    }
  </div>
  <div class="hall-of-fame">
    <!-- TODO: Améliorer la modalité du countDown -->
    <div class="title-zone">
      <h1 class="title">{{ "pages.ranking.title" | translate }}</h1>
      <p class="general-info">
        Dernière mise à jour : {{ _lastRankingUpdate }}
      </p>
      <p class="hint" style="text-align: center">
        Prochaine Agora* dans : {{ _agoraDownCounter.days }} jours,
        {{ _agoraDownCounter.hours }} heures,
        {{ _agoraDownCounter.minutes }} minutes et
        {{ _agoraDownCounter.seconds }} secondes
        <br />
        <ion-icon class="unverified" name="hourglass-outline"></ion-icon>
      </p>
    </div>

    <div class="rankings">
      @if ( _stableRanking && _stableRanking.length) { @if (_ranking &&
      _ranking.length) { @for (player of _ranking; track $index) {
      <div [class]="'ranking ' + player.decoration">
        <span class="position">{{ player.position }}</span>
        <span class="player-name">
          {{ formatPlayerName(player.playerName) }}
        </span>
        <span class="experience">{{ player.xp.toLocaleString() }} Xp</span>
        <span [class]="'grade ' + player.level + '-grade'">
          {{ (player.level + "").toUpperCase() }}
        </span>
        <span [class]="'trend ' + player.trend">
          @if (player.trend === "up") {
          <ion-icon name="caret-up-outline"></ion-icon>
          } @else if (player.trend === "down") {
          <ion-icon name="caret-down-outline"></ion-icon>
          } @else {
          <ion-icon name="remove"></ion-icon>
          }
        </span>
      </div>
      <!-- Set break-line between stages -->
      @if ([3, 10, 50].includes(player.position) && !_isSearching) {
      <div class="break-line"></div>
      } } } @else {
      <p class="unfound-message">
        {{ _playerNotFoundMessage }}
      </p>
      <div class="break-line"></div>
      } } @else {
      <p class="unfound-message">
        {{ "pages.ranking.noGlobalRanking" | translate }}
      </p>
      <div class="break-line"></div>
      }
    </div>
  </div>
</div>
