@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@font-face {
  font-family: Hylia;
  src: url("./assets/fonts/HyliaSerifBeta-Regular.otf");
}
:root {
  --primary-color: #2869ca;
  --primary-accent-color: #2b4ea2;
  --box-container-color: #d4cfce;
  --dark-color: #353434;
  --error-color: #c10909;
  --secondary-color: #ebb325;
  --title-text-color: #222222;
  --normal-text-color: #444444;
  --normal-text-font: "Roboto Serif";
  --title-text-font: "Montserrat";
  --special-text-font: "Inter";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--normal-text-font);
}
html {
  min-height: 100vh;
}
body {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: var(--normal-text-color);
}

/* Some special stylish components */
.button {
  display: block;
  color: #fff;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
}
@media all and (max-width: 800px) {
  .button {
    padding: 10px 15px;
  }
}

/* Spinner global styles */
@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 0.8rem solid #fff;
  border-bottom-color: var(--secondary-color);
  width: 20%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  animation: 1s linear infinite spinner;
  margin: auto;
}

// User grade colors
.s-grade {
  color: goldenrod;
}
.a-grade,
.b-grade {
  color: #21a80b;
}
.c-grade,
.d-grade {
  color: #9ec257;
}
.e-grade {
  color: #ffb800;
}
.f-grade {
  color: #ef1f1f;
}

// Frequently used Widgets
.backward-group {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
  margin: 10px auto;
  max-width: 450px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &:hover {
    color: var(--secondary-color);
    gap: 15px;
  }
}
